html, body {
	font-size: 12px;
	margin: 0;
	padding: 0;
	background: #dddddd;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

*:focus {
	outline: 0 none;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active, a:hover {
	outline: 0;
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

.main-wrapper {
	max-width: 750px;
	background: #fff;
	border-radius: 4px;
	min-height: 600px;
	margin: 1em auto;
	box-shadow: 0 0 15px #666;
}

.main-title {
	text-align: left;
	padding: 0.5em;
	border-bottom: 1px inset #d0d0d0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(144, 144, 144, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
	color: #337;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-user-select: none;
	cursor: default;
}

.todo-list, .new-todo {
	list-style-type: none;
	padding: 1em;
}

.todo-item {
	height: 3em;
	line-height: 3;
	outline: 1px dotted #e6e6e6;
	list-style-position: outside;
	position: relative;
	transition: all ease-in-out 0.5s;
	margin-top: 0.6em;
}

.new-todo .todo-item {
	background: #fffff0;
}

.todo-done {
	vertical-align: middle;
	-webkit-appearance: none;
	height: 1.8em;
	width: 1.8em;
	border: 1px dashed #d0d0d0;
	outline: 0 none;
	cursor: pointer;
}

.todo-text {
	height: 2.55em;
	width: 500px;
	border: 0 none;
	background: transparent;
	cursor: pointer;
	-webkit-user-select: none;
	transition: background ease-in-out 0.5s;
	padding: 0.2em 1.8em 0.2em 1em;
	color: #777;
	-webkit-font-smoothing: subpixel-antialiased;
}

.todo-text:hover {
	cursor: pointer;
}

.todo-delete {
	-webkit-appearance: none;
	border: 0 none;
	background: transparent;
	position: absolute;
	right: 0;
	display: inline-block;
	height: 2.55em;
	width: 1.8em;
	cursor: pointer;
	float: right;
	margin: 0;
	color: #e6e6e6;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2.55;
	transition: all ease-in-out 0.5s;
}

.todo-item:hover .todo-delete, .todo-text:hover + .todo-delete, .todo-text:focus + .todo-delete, .todo-delete:focus {
	color: #666666;
}

.todo-done:checked + .todo-text {
	text-decoration: line-through;
	color: #bbb;
}

.todo-done:hover:before, .todo-done:checked:before {
	content: '✔';
	font-size: 2.4em;
	color: #ccc;
	margin-left: 0;
	line-height: 0.8;
	outline: 0 none;
}

.todo-done:checked:before {
	color: #aaa;
}

.collapse {
	height: 0;
	overflow: hidden;
	border-color: transparent;
}
